<div class="modal-body">
  <div class="font-bold text-xl pb-2">Scoreboard</div>

  <div class="grid grid-cols-2 gap-x-4">
    <div class="font-bold text-right">Player</div>
    <div class="font-bold">Points</div>
    @for (player of getPlayerAndScores(); track $index) {
      <div class="text-right">
        {{player.name}}
      </div>
      <div>
        {{player.score}}
      </div>
    }
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn" (click)="close()">Close</button>
</div>
