<div class="border rounded-md py-3 px-5">
    <div class="text-xl text-center pb-2">{{playerName}}</div>

    <table>
        <tbody>
            <tr>
                <td></td>
                @for (col of rangeTo(numColumns); track $index) {
                <td class="text-center">
                    {{columnLabel(col)}}
                </td>
                }
            </tr>
            @for (rollType of rollTypes; track $index) {
            <tr class="point-row">
                <td class="w-5">
                    {{rollType.label}}
                </td>
                @for (col of rangeTo(numColumns); track $index) {
                <td class="text-center px-1">
                    <app-point-field [name]="playerName" [col]="col" [rolltype]="rollType" />
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
    <div class="text-center text-lg pt-2">Total: {{totalPoints()}}</div>
</div>