<div class="modal-body">
  <div class="font-bold text-xl pb-2">Players</div>
  <div class="overflow-hidden" cdkDropList (cdkDropListDropped)="playerDrop($event)">
    @for (player of players; track $index) {
      <div cdkDrag class="select-none rounded border px-2 py-2 mb-2 bg-gray-50 flex gap-3 items-center">
        <img ngSrc="assets/icons/burger-menu.svg" height="24" width="24" alt="burger-menu"/>
        {{player}}
        <div class="grow"></div>
        <button class="btn btn-danger" (click)="playerDelete(player)">X</button>
      </div>
    }
  </div>

  <div class="border rounded-md text-center p-1 flex">
    <input class="grow" type="text" #playername (keyup.enter)="playerAdd(playername.value)"
           placeholder="Add new Player" />
    <button class="btn" (click)="playerAdd(playername.value)">+</button>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn" (click)="saveAndClose()">Save</button>
  <button type="button" class="btn" (click)="cancel()">Cancel</button>
</div>
